# Core dependencies
Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-Cors==4.0.0
python-dotenv==1.0.1

# Authentication
Flask-JWT-Extended==4.6.0
Werkzeug==3.0.1

# Password hashing
bcrypt==4.1.2

# Database migrations
Flask-Migrate==4.0.5

pytest==8.3.2